.payment-order {
  justify-content: flex-end;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    background-color: #ffffff;
    box-shadow: -8px 9px 25px rgba(49, 68, 93, 0.23112);
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 32px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0289572);

    & button {
      margin-right: 28px;
      padding: 0;
      width: 15px;
      height: 15px;
      background: url("../img/svg/icon-close.svg");
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
    }

    & h2 {
      @include text-block-reset;
      color: $important-text-color;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 160px;
    padding-left: 184px;
    margin-right: 5px;
    height: 512px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar {
      padding-top: 6px;
      padding-bottom: 6px;
      width: 6px;
      background-color: rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

  &__transaction-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    padding-right: 92px;
    padding-bottom: 16px;
    padding-left: 83px;
    width: 100%;
  }

  &__description {
    position: relative;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
    width: 545px;
    background-color: #f2f2f2;
    box-shadow:
      0 0 1px rgba(0, 0, 0, 0.239102),
      0 4px 15px rgba(0, 0, 0, 0.0869282),
      0 2px 3px rgba(0, 0, 0, 0.0651891);
    mix-blend-mode: normal;
    z-index: 0;

    & > p {
      @include text-block-reset;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__commission {
    padding-top: 23px;
    padding-right: 25px;
    padding-bottom: 26px;

    & > p {
      @include text-block-reset;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: $secondary-text-color;
    }
  }

  &__footer {
    margin-top: 6px;
  }
}
